/.d8_history
/.ensime
/TODO.org
/project/
/target/
.ensime_cache
*.dot
*.log
/bin/
.idea/*
.idea/hydra.xml
.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_annotations_2_8_0_jar.xml
.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_core_2_8_4_jar.xml
.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_databind_2_8_4_jar.xml
.idea/libraries/sbt__com_github_scopt_scopt_2_12_3_7_0_jar.xml
.idea/libraries/sbt__com_thoughtworks_paranamer_paranamer_2_8_jar.xml
.idea/libraries/sbt__com_typesafe_akka_akka_actor_2_12_2_5_4_jar.xml
.idea/libraries/sbt__com_typesafe_config_1_3_1_jar.xml
.idea/dictionaries/nvanes.xml
.idea/hydra.xml
.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_annotations_2_8_0_jar.xml
.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_core_2_8_4_jar.xml
.idea/libraries/sbt__com_fasterxml_jackson_core_jackson_databind_2_8_4_jar.xml
.idea/libraries/sbt__com_github_scopt_scopt_2_12_3_7_0_jar.xml
.idea/libraries/sbt__com_thoughtworks_paranamer_paranamer_2_8_jar.xml
.idea/libraries/sbt__com_typesafe_akka_akka_actor_2_12_2_5_4_jar.xml
.idea/libraries/sbt__com_typesafe_config_1_3_1_jar.xml
.idea/libraries/sbt__jline_jline_2_14_5_jar.xml
.idea/libraries/sbt__org_json4s_json4s_ast_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_json4s_json4s_core_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_json4s_json4s_jackson_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_json4s_json4s_native_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_json4s_json4s_scalap_2_12_3_5_3_jar.xml
.idea/libraries/sbt__org_scala_lang_modules_scala_java8_compat_2_12_0_8_0_jar.xml
.idea/libraries/sbt__org_scala_lang_modules_scala_parser_combinators_2_12_1_0_6_jar.xml
.idea/libraries/sbt__org_scala_lang_modules_scala_xml_2_12_1_0_6_jar.xml
.idea/libraries/sbt__org_scala_lang_scala_library_2_12_3_jar.xml
.idea/libraries/sbt__org_scala_lang_scala_reflect_2_12_3_jar.xml
.idea/libraries/sbt__org_scala_sbt_test_interface_1_0_jar.xml
.idea/libraries/sbt__org_scalacheck_scalacheck_2_12_1_13_5_jar.xml
.idea/libraries/sbt__org_scalactic_scalactic_2_12_3_0_3_jar.xml
.idea/libraries/sbt__org_scalatest_scalatest_2_12_3_0_3_jar.xml
.idea/libraries/sbt__org_scalaz_scalaz_core_2_12_7_2_15_jar.xml
.idea/modules.xml
.idea/modules/scala-am-build.iml
.idea/modules/scala-am.iml
.idea/scala_compiler.xml
.idea/vcs.xml
